{% extends 'ChaRate/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="bblock">
        <h1> ChaRate </h1> 
        <h2>A place where you can upload characters 
            and interact with those who share your passions.</h2>
</div>
</div>
<div class = "container">
    <div class="bblock" id="dark">
    <p>This website has been created for our WAD2 group project, at the University of Glasgow.</p>
    <p>This has been put together by</br>Lab 2 - Team B</p>
    <p>We can be contacted via email at the following address: ...</p>
    </div>
</div>
{% endblock %}