{% extends "ChaRate/base.html" %}
{% load staticfiles %} 
{% block title_block %} Account Page {% endblock %} 
{% block body_block %}

<div class="container">
        <h2>
            Account Page
        </h2>
        <p>Hey, {{ user.username }}!</p>
</div>

<div class="container">
        <div class="dblock">
            <h3>Number of:</h3>
            <p>comments you've left: {{comments}}</p>
            <p>characters you've liked: {{characters}}</p>
        </div>
    
        <div class="dblock">
    
                <h3>Looking for characters?</h3>
                <a id="button" href="">Explore TV Shows</a>
                <a id="button" href="">Explore Movies</a>
        </div>
</div>

<div class="container">
    <div class="bblock" id="dark">
        <button class="button" onclick="">Change your password</button>
    </div>
    <div class="bblock" id="dark">
        <button class="button" onclick="">Characters you've liked</button>
    </div>
</div>

{% endblock %}