<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}"/>
    <script type='text/javascript' language='javascript' src="{% static 'js/jscript.js' %}"></script>
    <title>
        ChaRate -
        {% block title_block %} 
        {% endblock %}
    </title>
</head>

<body>
    <div class="navbar">
        <ul>
        <a id="logo" href="{% url 'index' %}">ChaRate</a>
        <a class="s_icon" id="search" onclick="openSearch()">Search</a>
        <!--  if user.is_authenticated  -->
        {% if user.is_authenticated %}
            <!-- <a href="">Account</a> -->
            <a href="{% url 'auth_logout' %}?next=/ChaRate/">Logout</a>
            <!--  else  -->
            {% else %}
            <a href="{% url 'login' %}">Login</a>
        <!--  endif  -->
            {% endif %}
        </ul>
    </div>
    
    <div id="searchbar">
        <div class="dblock">
            <button class="search exit" onclick="closeSearch()">x</button>
            <ul class="nav nav-list flex-column">
                <form>
                    <li class="nav-item"><input class="search-query form-control" type="text"
                    name="suggestion" value="" id="suggestion" 
                    placeholder="Search for Characters..." /> </li>
                </form> 
            </ul>
            <div class="fit_page">
            <div class="filteredgrid" id="chars"> </div>
            </div>
        </div>
    </div>

    <div class="main">
    {% block body_block %} {% endblock %}
    </div>
    <!-- <hr /> -->
    <div class="bnav">
        <button class="button" id="bnavb" onclick="openNav()"><span>Navigation</span></button>
        <div id="navigation" class="overlay">
            <div class="overlay-content">
                <button class="search exit" id="closebutton" onclick="closeNav()"><span>x</span></button>
                {% if user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}">Logout</a>
                    <a href="{% url 'add_character' %}">Create a Character</a>
                    <a href="{% url 'add_mov' %}">Add a Movie</a>
                    <a href="{% url 'add_tv' %}">Add a TV Show</a>
                {% else %}
                    <a href="{%  url 'registration_register' %}">Sign Up</a>
                {% endif %}
                    <a href="{% url 'view_tvshows' %}">Browse TV Shows</a>
                    <a href="{% url 'view_movies' %}">Browse Movies</a>
                    <a href="{% url 'character_browser' %}">Browse Characters</a>
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'index' %}">Homepage</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="{% static 'js/ChaRate-ajax.js' %}"></script>
</body>

</html>