 {% extends "ChaRate/base.html" %}
{% load staticfiles %} 
{% block title_block %} Index {% endblock %}

<!-- The index/home page -->
{% block body_block %}

<!-- Custom welcome message. -->
<div class="container">
        <h2>
            {% if user.is_authenticated %} 
                Welcome back, {{ user.username }}! 
            {% else %} 
                Rate and comment on your favourite TV Show and Movie characters! 
            {% endif %}
        </h2>
</div>

<!-- Displays most liked characters if they exist. -->
<div class="container">
	<div class="dblock">
		<h2>Most Liked Characters</h2></br>
        {% if characters %}  
            {% for char in characters %}
			<a href="{% url 'character' char.slug %}">{{ char.name }}</a>
            {% endfor %} 
        {% else %} 
		    <p><strong>There are no characters! Oops.</strong></p>
		{% endif %}
	</div>

    <!-- Allow user to conveniently look at entire list of tv shows, movies and characters. -->
	<div class="dblock">
            <h3>Looking for characters?</h3>
            <a id="button" href="{% url 'view_tvshows' %}">Explore TV Shows</a>
            <a id="button" href="{% url 'view_movies' %}">Explore Movies</a>
            <a id="button" href="{% url 'character_browser' %}">Explore Characters</a>
    </div>
</div>

<!-- The most discussed character will be displayed more prominently
    as it allows users to see more interaction with characters -->
<div class="container">
    {% if most_commented %}
    <div class="dblock">
        <img class="ri" src="{{MEDIA_URL}}{{most_commented.picture}}" 
        alt="Character Image of {{ most_commented.name }}" style="width:100%"> 
    </div>
    <div class="dblock">
        <h2>Most Discussed Character:</h2> 
        <br/>
        
            <h1>
                {{ most_commented.name }}
            </h1>
            <br/>
            <p>Number of Comments: {{ most_commented.comments }}</p>
            <a href="{% url 'character' most_commented.slug %}">Visit Page</a>
        {% else %}
        <p>No Characters...yet!!!</p>
        {% endif %}

    </div>
</div>
{% endblock %}
