 {% extends "ChaRate/base.html" %}
{% load staticfiles %} 
{% block title_block %} Index {% endblock %}

{% block body_block %}

<div class="container">
        <h2>
            {% if user.is_authenticated %} 
                Welcome back, {{ user.username }}! 
            {% else %} 
                Rate and comment on your favourite TV Show and Movie characters! 
            {% endif %}
        </h2>
</div>

<div class="container">
	<div class="dblock">
		<h2>Most Liked Characters</h2></br>
        {% if characters %}  
            {% for char in characters %}
			<a href="{% url 'character' char.slug %}">{{ char.name }}</a>
            {% endfor %} 
        {% else %} 
		    <p><strong>There are no characters! Oops.</strong></p>
		{% endif %}
	</div>

	<div class="dblock">
            <h3>Looking for characters?</h3>
            <a id="button" href="{% url 'view_tvshows' %}">Explore TV Shows</a>
            <a id="button" href="{% url 'view_movies' %}">Explore Movies</a>
            <a id="button" href="{% url 'character_browser' %}">Explore Characters</a>

		<!-- <h3>Most Viewed Pages</h3>
		<!-- <p> -->
    </div>
</div>

<div class="container">
    {% if most_commented %}
    <div class="dblock">
        <img class="ri" src="{{MEDIA_URL}}{{most_commented.picture}}" 
        alt="Character Image of {{ most_commented.name }}" style="width:100%"> 
    </div>
    <div class="dblock">
        <h2>Most Discussed Character:</h2> 
        <br/>
        
            <h1>
                {{ most_commented.name }}
            </h1>
            <br/>
            <p>Number of Comments: {{ most_commented.comments }}</p>
            <a href="{% url 'character' most_commented.slug %}">Visit Page</a>

            <!-- most_commented.tvshows}} -->
            <!-- % for show in most_commented.tvshows %} -->
            <!-- show }} -->
            <!-- % endfor %}  -->

            <!-- % for movies in char.movies %}  -->
                <!-- print movie -->
            <!-- % endfor %}  -->
            <!-- % endfor %} -->
        {% else %}
        No Characters!
        {% endif %}

    </div>
</div>
{% endblock %}
