{% extends 'ChaRate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Movie Link 
    {{ character.name }}
{% endblock %} 

{% block body_block %}

<!-- Allows the user to link a character to a movie - due to limitations
    the link process can only be done here, not when creating character. -->
<div class="container">
    <div class="bblock">
        <h2>Link {{ character.name }} to:</h2>
    </div>
    <div class="bblock" id="dark">
        <form id="link_mov" method="post" action="{% url 'link_movie' character.slug %}" 
        enctype="multipart/form-data"></form> 
		
        {% csrf_token %}
            
        {{ form.as_p }}
    </div>  
    <div class="bblock">   
        <button class="button" type="submit" name="submit"><span>Link</span></button>
        </form>
    </div>
</div>
{% endblock %}