{% extends 'ChaRate/base.html' %} 
{% load staticfiles %} 
{% block title_block %} 
    {% get moviename %} 
{% endblock %} 
 
{% blockbody_block %}

<div class="container">
    <div class="bblock">
        <h2>{{ s.title }}</h2>
        <p>Characters:</p>
    </div>

    <div class="filteredgrid">
        {% for char in movie.chars %}
        <a href="{% url 'char' char.slug %}">char.name</a>
        <a href="https://google.co.uk">Google</a>
        {% endfor %}
    </div>
</div>

{% endblock %}