{% extends 'ChaRate/base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
    {% if movie %}
        {{ movie.name }}
    {% else %}
        Doesn't exist
    {% endif %}
{% endblock %} 
 
{% block body_block %}

<div class="container">
    {% if movie %}

    <div class="bblock">
            <h2>{{ movie.name }}</h2>
            <p>Characters:</p>
        </div>
    
        <div class="filteredgrid">
            {% if movie.characters %}
            {% for char in movie.characters %}
                <a href="{% url 'character' char.slug %}">char.name</a>
            {% endfor %}
            {% else %}
                There are no characters for {{ movie.name }}!
            {% endif %}
        </div>

    {% else %}
    <p>This Movie does not exist.</p>
    <a href="" id="darkText">Create Movie</a>
    {% endif %}

</div>

{% endblock %}