{% extends 'ChaRate/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<div class="container" id="registration">
	<!-- <div class="bblock"> -->
    <h1>Register for ChaRate</h1>
    <div class="bblock" id="dark">
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'index' %}">Return to the homepage.</a><br />
	{% else %}
		<p>Register here!</p>
		<br />
		<form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data"></form> 
		
		{% csrf_token %}
		
		{{ user_form.as_p }} 
		{{ profile_form.as_p }}
		
		</div>
		<button class="button" type="submit" name="submit"><span>Register</span></button>
		</form>
	{% endif %}
	</div>
{% endblock %}