{% extends 'ChaRate/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %} 

{% block body_block %}

<div class="container">
    <div class="bblock">
        <h1>Login to ChaRate</h1>
        <p>
            Don't have an account? 
        </p>
        <a class="button" href="">Register here!</a>

    </div>
    <div class="bblock" id="dark">
    <form id="login_form" method="POST" action="{% url 'login' %}"> <!-- If id doesnt work replace url by '.' -->
        <!-- {% csrf_token %} -->
        {{ form.as_p }}
        <p>Username</p>
        <p><input type="text" name="username" placeholder="Enter Username..." value="" size="70%" /></p>
        <p>Password</p>
        <p><input type="password" name="password" placeholder="Enter Password..."  value="" size="70%"/></p>
    </form>
    </div>
    <div class="bblock">
        <p><button class="button" type="submit" value="submit" ><span>Login</span></button></p>
    </form>
    </div>
</div>
    <div>
        <p>{% trans "Forgot password" %}? <a href="">{% trans "Reset it here" %}</a>!</p>
    </div>

{% endblock %}