{% extends 'ChaRate/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Browse TV Shows
{% endblock %} 

{% block body_block %}

<div class="container">
    <div class="bblock" id="dark">
        <h1>TV Shows</h1>
        <div class="grid">
            <button class="button active" onclick="filterSelection('all')"> Show all</button>
            <p>Genre:</p>
            <button class="button" onclick="filterSelection('Action')"> Action</button>
            <button class="button" onclick="filterSelection('Sci-Fi')"> Sci-Fi</button>
            <button class="button" onclick="filterSelection('Romance')"> Romance</button>
            <button class="button" onclick="filterSelection('Comedy')"> Comedy</button>
            <button class="button" onclick="filterSelection('Horror')"> Horror</button>
            <button class="button" onclick="filterSelection('Other')">Other</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="filteredgrid">
        {% if tvshows %}
            {% for tv in tvshows %}
                <a class="{{ tv.genre }}" href="{% url 'tvpage' tv.slug %}">{{ tv.name }}</a>
            {% endfor %}
        {% else %}
            <p>There seem to be no TV Shows! :(</p>
        {% endif %}
    </div>
</div>

{% endblock %}