{% extends 'ChaRate/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<div class="container" id="registration">
	<!-- <div class="bblock"> -->
    <h1>Register for ChaRate</h1>
    <div class="bblock" id="dark">
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'index' %}">Return to the homepage.</a><br />
	{% else %}
		<h3>Register here!</h3>
		<br />
		<form id="user_form" method="post" action="." enctype="multipart/form-data"></form>
            <!--{% url 'registration_register' %}-->
		{% csrf_token %}

		{{ user_form.as_p }}
		{{ profile_form.as_p }}

        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}

		</div>
		<button class="button" type="submit" name="submit"><span>Register</span></button>
		</form>
	{% endif %}
	</div>
{% endblock %}