/* 2254721m - Kenneth
ChaRate CSS v 1.0 */

/* Main Content Setup: ------------------------------- */

/* Reset: maintains consistency across browsers. */
* {
    margin: 0;
    padding: 0;
}

body {
    outline: 0 !important;
    margin:0 !important;
    padding: 0 !important;
    font-family: Trebuchet MS;
    font-size: 14px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* word-wrap: break-word; */
}

.main {
    padding: 15px;
    margin-top: 50px;
}

img {
    max-width: 75%;
    height: 75%;
    margin: 25px;
    /* object-fit: cover; */
    /* max-height: 300px; */
    /* width: auto; */
    /* margin: 0 auto; */
}

img.inline {
    max-height: 300px;
    max-width: 60%;
    height: auto;
    width: auto;
}

p {
    padding: 10px;
    float: none;
}

span {
    float: none;
    display: inline-block;
}

small {
    float: none;
    display: inline-block;
    width: 100%;
}

#darkText {
    color: #333;
}

select {
    float: none;
    width: 90%;
    max-width: 250px;
    -webkit-appearance: menulist; 
    /* -moz-appearance: menuimage; */
    border: 3px solid #4b4b4b;
    margin: 5px;
    font-size: 12px;
    font-family: 'Courier New';
    height: 40px;
    padding: 0;
}

/* -------------------------------  */

/* Navbar: ------------------------------- */
.navbar {
    z-index: 1;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    padding-top: 0;
}


a {
    font-family: Courier New;
    /* float: right; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 16px;
    padding: 5px; 
    text-decoration: none;
    height: 15px;
    
}

.navbar a {
    /* margin-top: 4px; */
    border: 3px solid #333;
    padding: 14px 10px; 
    float: right;
}

a.s_icon {
    /* font-family: Courier New;
    font-size: 30px; */
    /* padding: 6px 10px; */
    font-weight: bold;
    border: 3px solid #4b4b4b;
    background-color: #4b4b4b;
    margin-right: 20px;
    margin-top: 0px;
    /* transform: scale(-1,-1); */
    /* -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    transform: rotate(45deg); */
}

a.s_icon:hover {
    border: 3px solid lightskyblue;
    
}

a:hover {
    color: skyblue;
    cursor: pointer;
}

#logo {
    padding: 0;
    /* border: 3px solid #4b4b4b; */
    font-weight: bold;
    float: left;
    font-size: 40px;
    margin: 0;
    /* padding: 6px 10px; */
    color: deepskyblue;
    height: 15px;
}

#logo:hover {
    color: lightskyblue; 
}

/* ------------------------------- */

/* Table & Blocks/Cells: -------------------------------  */

.container {
    box-sizing: content-box;
    display: table;
    border-collapse: separate;
    border-spacing: 40px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: whitesmoke;
    text-align: center;
    /* padding: 20px; */
}

/* Double Block/Cell: */

.dblock {
    box-sizing: content-box;
    width: 50%;
    text-align: center;
    display: table-cell;
    padding: 10px;
    background-color: #333;
    color: #f2f2f2;
    vertical-align: middle;
    
}

.dblock a {
    text-align: center;
    padding: 10px;
    float: none;
}

@media only screen and (max-width: 700px) {
    .dblock { 
        float: none;
        display: table-row;
        padding: 10px;
        margin-bottom: 40px;
        width: 100%;
    }
}

/* Basic Single Block/Cell: */

.bblock {
    /* display: block; */
    display: table-row;
    float: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.bblock * {
    padding: 10px;
}

#dark {
    background-color: #333;
    color: #f2f2f2;
}

/* -------------------------------  */

/* Bnav (bottom bar): ------------------------------- */

#bnavb {
    width: 85%;
    margin-bottom: 20px;
}

.bnav, #bnav {
    overflow: hidden;
    position: static;
    width: 100%;
    margin-top: 40px;
    margin: 0 auto;
  }

.bnav a {
    float: none;
    text-align: center;
}
/* ------------------------------- */



/* Inputs: ------------------------------- */


/* Input Fields: */
input {
    border: 0px;
    padding: 5px;
    width: 80%;
    font-family: Trebuchet MS;
    font-size: 14px;
    margin-top: 5px;
    margin: 0 auto;
    display: block;
    float: none;
  }
  
input:focus {
    background: skyblue;
}

/* Button: */
.button {
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Trebuchet MS;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    float: none;
    border-bottom: 2px solid #333;
}

.button.active {
    background-color: #333;
    border-bottom: 2px solid #6e6e6e;
    color: lightskyblue;
}
  
.button:hover {
    color: lightskyblue;
    border-bottom: 2px solid lightskyblue;
}
  
/* Radio Buttons: */
input#radio {
    width: 20px;
    vertical-align: baseline;
}

/* ------------------------------- */

/* Search Button & Page: ------------------------------- */

#searchbar {
    z-index: 1;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    margin-top: -1px;
    width: 100%;
    background-color: #333;
    border-top: solid 3px #4b4b4b;
    border-bottom: solid 3px #4b4b4b;
    display: none;
    overflow: scroll;
}

.search.exit {
    border: solid 5px #333;
    width: 40px;
    font-weight: bolder;
    display: table-cell;
}

input.search {
    font-size: 12px;
    width: 70%;
    display: table-cell;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

button.search {
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: Trebuchet MS;
    border: none;
    background-color: #4b4b4b;
    cursor: pointer;
    font-size: 12px;
    display: table-cell;
    width: 100px;
    height: 40px;
}

button.search:hover {
    color: lightskyblue;
}

@media only screen and (max-width: 700px) {
    input.search{
        width: 70%;
    }
    button.search, button.search.exit {
        width: 70%;
    }
}
/* Comments: ------------------------------- */

/* Overlays: ------------------------------- */

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    /* top: 9px; */
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.7);
}

/* Navigation: */
.overlay-content {
    position: relative;
    width: 90%;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    top: 9px;
    margin: 0 auto;
    background-color: #333;
    border: solid 3px #4b4b4b;
}

/* Comments: */
.content-comments {
    position: relative;
    height: 80%;
    width: 90%;
    text-align: center;
    top: 0;
    margin: 0 auto;
    background-color: #4b4b4bab;
    border: solid 3px #333;
    overflow: scroll;
    display: block;
}

.commentbox {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    padding: 5px;
    display: block;
    text-align: center;
    background-color: whitesmoke;
    border: solid 3px #333;
    word-wrap: break-word;
}

.commentbox p {
    border: solid 1px #333;
    font-family: 'Courier New';
}

#author-is-user {
    border: solid 3px lightskyblue;
}

/* ------------------------------- */

/* Filter Pages: ------------------------------- */

.grid {
    padding: 0;
    display: table;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    word-wrap: break-word;
}

.grid .button {
    display: table-cell;
    width: 33.3%;
    font-size: 10px;
}

.filteredgrid a.visible {
    padding: 0;
    height: 50px;
    width: 150px;
    margin: 2px;
    border: solid 3px #333;
    overflow: hidden;
    word-wrap: break-word;
    display: table-cell; 
    text-align: center;
    background-color: #333;
    color: #ffffff;
    float: left;
}

.filteredA {
    padding: 0;
    height: 50px;
    width: 150px;
    margin: 2px;
    border: solid 3px #333;
    overflow: hidden;
    word-wrap: break-word;
    /* display: table-cell; */
    text-align: center;
    background-color: #333;
    color: #ffffff;
    float: left;
    display: none;
}

.show {
    display: table-cell;
}

.filteredgrid a:hover {
    color: lightskyblue;
    border: solid 3px lightskyblue;
}

.filteredgrid button:hover {
    color: lightskyblue;
}



@media only screen and (max-width: 500px) {
    .filteredgrid a {
        box-sizing: content-box;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3px;
    }
}
/* ------------------------------- */

/* Comment Box: ------------------------------- */

textarea {
    height: 100px;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    resize: vertical;
}
